[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "measures"]
	path = measures
	url = https://github.com/philipppro/measures
	shallow = true
	registered = true
[submodule "OOBCurve"]
	path = OOBCurve
	url = https://github.com/philipppro/oobcurve
	shallow = true
	registered = true
[submodule "quantregRanger"]
	path = quantregRanger
	url = https://github.com/philipppro/quantregranger
	shallow = true
	registered = true
[submodule "tuneRanger"]
	path = tuneRanger
	url = https://github.com/philipppro/tuneranger
	shallow = true
	registered = true
[submodule "varImp"]
	path = varImp
	url = https://github.com/philipppro/varimp
	shallow = true
	registered = true
