[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "measures"]
	path = measures
	url = https://github.com/philipppro/measures
[submodule "OOBCurve"]
	path = OOBCurve
	url = https://github.com/philipppro/oobcurve
[submodule "quantregRanger"]
	path = quantregRanger
	url = https://github.com/philipppro/quantregranger
[submodule "tuneRanger"]
	path = tuneRanger
	url = https://github.com/philipppro/tuneranger
[submodule "varImp"]
	path = varImp
	url = https://github.com/philipppro/varimp
